.venv/
__pycache__/
*.pyc
*.cpython-*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
.env
*.pot
*.mo
*.swp
.DS_Store
.idea/
.vscode/
staticfiles/
# CLAUDE.md
logs/*
Audit_Technique_Gestion_paroissiale.pdf
media/profile_pics/*
.gitignore